*{
    margin: 0;
    padding: 0;

}

body{
    background-color: red;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    height: 100%;
    background-color: #00000000;


}

@media(min-width: 600px){
    .cont2{
        background-color: #00000000;
        display:grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }
    .jugadores:hover{
        transform: rotate(0);
        transition: 1s ease;
    }
}

@media(min-width: 1440px){
    .cont2{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }
    .jugadores:hover{
        transform: rotate(0);
        transition: 1s ease;
    }
}


.cont2{
    display: grid;
    gap: 10px;
    width: 100%;
    height: 100%;
    background-color: #00000000;
    margin-top: 0;
}

.jugadores{
    transform: rotate(15deg);
    transition: 1s ease;

}
.jugador{
     transform: rotate(-15deg);
    transition: 1s ease;
}

.jugadores:hover{
     transform: rotate(0);
        transition: 1s ease;
}


img{
    height: 90%;
    width: 90%;
    border-radius: 10px;
    margin: 5%;
}

